@import "../../stylesSass/variables";
@import "../../stylesSass/mixin";
.lesson {
    &-card {
        width: calc(25% - 25px);
        margin-left: 25px;
        margin-bottom: 25px;
        background-color: $color-white;
        box-shadow: $box-shadow-1;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        &__heading {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding: 0px 20px;
            & > span {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px 12px;
                font-size: 1.5rem;
                font-weight: 600;
                border-radius: 9999px;
                &.student-10 {
                    background-color: rgb(252 231 243);
                    color: rgb(157 23 77);
                }
                &.student-20 {
                    background-color: rgb(219 234 254);
                    color: rgb(30 64 175);
                }
                &.student-30 {
                    background-color: rgb(220 252 231);
                    color: rgb(22 101 52);
                }
                &.student-40 {
                    color: rgb(146 64 14);
                    background-color: rgb(254 243 199);
                }
            }
        }

        &__infor {
            height: 80px;
            padding: 0px 20px;
            &-name {
                font-size: 1.6rem;
                font-weight: 600;
                color: $color-text;
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
                margin-bottom: 5px;
                & span {
                    margin: 0px !important;
                    color: $color-primary !important;
                    font-size: 1.6rem !important;
                    font-weight: 600 !important;
                    margin-right: 5px !important;
                }
            }
            & span {
                font-size: 1.3rem;
                font-weight: 500;
                color: $color-text-2;
                margin-right: 10px;
                margin-bottom: 20px;
                display: inline-block;
            }
        }

        &__indicator {
            display: block;
            width: 40px;
            height: 1.5px;
            margin: 1.5rem 20px;
            background-color: rgb(226, 232, 240);
        }

        &__bottom {
            padding: 0px 20px;
            flex: 1;
            & div {
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                & i {
                    font-size: 2rem;
                    color: $color-text-secondary;
                    margin-right: 10px;
                }
                & span {
                    font-size: 1.3rem;
                }
            }
        }
        &__line {
            width: 100%;
            height: 2px;
            margin: 1.5rem 0px;
            background-color: rgba($color-primary-light, 0.3);
        }
        &__button {
            padding: 0 20px;
            display: flex;
            justify-content: flex-end;
            & button {
                width: 125px;
                min-width: 64px;
                height: 40px;
            }
            & i {
                font-size: 2rem;
                margin-top: 2px;
                margin-left: 5px;
            }

            & a.btn-primary {
                width: 125px;
                min-width: 64px;
                height: 40px;
                margin-right: 10px;
                text-decoration: none;
            }
        }
    }

    @include MediaQuery(MD) {
        &-card {
            width: calc(50% - 25px);
        }
    }
    @include MediaQuery(SM) {
        &-card {
            width: calc(100% - 25px);
        }
    }
}

@include MediaQuery(SM) {
    .lesson-card__modal .css-xqly9z {
        width: 90% !important;
    }
}

.rollcalsession__form {
    width: 100%;
    & textarea {
        @include inputStyle;
        resize: none;
        padding: 12px;
        margin-bottom: 12px;
        font-size: 1.8rem;
        font-weight: 500;
    }
    & label {
        @include labelStyle;
        display: block;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    & label {
        @include labelStyle;
    }
    & input {
        @include inputStyle;
    }
    & select {
        @include inputStyle;
    }
    & textarea {
        @include inputStyle;
        padding-top: 12px;
        padding-bottom: 12px;
        resize: vertical;
    }
}