@import "../../../stylesSass/variables";
@import "../../../stylesSass/mixin";
.side-bar {
    width: $width-sidebar;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: #0f172a;
    transition: left 0.3s ease-in-out !important;
    z-index: 999;
    &__fade {
        position: fixed;
        top: 0;
        left: $width-sidebar;
        width: calc(100% - $width-sidebar);
        min-height: 100vh;
        background-color: rgb(0 0 0 / 0.12);
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out !important;
    }
    &--right {
        transition: left 0.6s ease-in-out !important;
        left: -100%;
    }

    &__header {
        padding: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 50px;
        &-logo {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    &__infor {
        padding: 1.6rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: $color-white;
        & img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-bottom: 20px;            
            border-radius: 50%;
        }
        &-name {
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 2px;
        }
        &-email {
            color: $color-text-secondary;
            font-size: 1.2rem;
            text-transform: none;
            font-weight: 600;
        }
    }
    &__menu {
        &-user {
            margin: 0 12px;
            & .user__as {
                padding: 16px;
                display: flex;
                flex-direction: column;
                & h3 {
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: $color-primary-text-light;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                }
                & p {
                    color: $color-text-secondary;
                    font-size: 1.2rem;
                    text-transform: capitalize;
                    font-weight: 600;
                }
            }

            & .user__list {
                list-style: none;
                width: 100%;
                display: flex;
                flex-direction: column;

                & li {
                    height: 44px;
                    margin-bottom: 4px;
                    width: 100%;
                    padding: 0 12px;
                    border-radius: 5px;
                    transition: all 0.05s ease-in-out;
                    &:hover {
                        background-color: rgb(255 255 255 / 0.12);
                    }
                    &.active {
                        & a {
                            color: $color-white;
                        }
                        & i {
                            color: $color-white;
                        }
                        & {
                            background-color: rgb(255 255 255 / 0.12);
                        }
                    }
                    & a,div {
                        font-size: 1.3rem;
                        font-weight: 500;
                        color: rgb(169, 175, 182);
                        text-decoration: none;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        & i {
                            margin-top: 2px;
                            font-size: 2.2rem;
                            margin-right: 10px;
                            color: rgb(169, 175, 182);
                        }
                    }
                }
            }
        }
    }

    @include MediaQuery(MD) {
        &__fade.active{
            opacity: 1;
            visibility: visible;
            transition: all 0.7s ease-in-out !important;
        }
    }
}
