@import "./variables";
.modal {
    &__heading {
        font-size: 2rem;
        font-weight: 600;
        color: $color-text;
    }
    &__control {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 20px;
        justify-content: space-between;
    }
}

.text-error {
    font-size: 1.2rem;
    color: $color-dander;
    margin-top: 5px;
}

.loading-text {
    color: $color-primary;
    font-size: 1.3rem;
    font-weight: 600;
}

.button-text{
    font-size: 1.2rem !important;
    text-transform: initial !important;
}

.mui-text-btn {
    font-size: 1.3rem;
    text-transform: capitalize;
    font-family: $font-family-primary;
}
